body
{
	padding: 0;
	margin: 0 ;
	background-image: url('ronds.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover ;
	background-position:center; 
}
#container
{
	padding: 0;
	margin: 0 ;
#	background: #fff;
	font-family: Arial;

}

#header
{
	margin: 0;
	padding: 10px;
	background: #ccc;
	height: 45px;
	background-image: url('haut.jpg');
	background-repeat: no-repeat;
	background-size: cover ;
	background-position:center;
	opacity: 0.95; 
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#edito
{
	height: auto;
	padding: 0%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 95%;
	background-color: #ffffff;
	border: 3px solid #f2f2f2;
	font-size: 90%;
	opacity: 0.9;
}

#edito h2
{
	color: #000;
	font-size: 180%;
	margin-right: 15%;
}

div.element
{
	float: left;
	width: 31%;
	min-width: 400px;
	height: 400px;
	overflow-y: scroll;
	margin-top: 10px;
	margin-left: 10px;
	
	padding: 0%;
	background-color: #f4fcff;
	border: 1px solid #999999;
	background-color: #ffffff;
	border: 3px solid #f2f2f2;
	font-size: 90%;
	opacity: 0.9;
}

div.element img
{
	background-color : #fff;
	float: right;
	width: 40%;
	margin: 5%;
	border: 1px solid #000;
	padding: 5px 5px 20px 5px;
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); /* IE 9 */
	-moz-transform:rotate(7deg); /* Firefox */
	-webkit-transform:rotate(7deg); /* Safari and Chrome */
	-o-transform:rotate(7deg); /* Opera */
}

p
{
	margin: 20px;
	text-align: justify;
	font-size: 105%;
}

h2,h3
{
	text-align: right;
	margin-right: 15%;
}

#footer
{
	clear: both;
	background: #fff;
	text-align: center;
	font-weight: bold;
	padding: 15px;
	height: 1%;
	background-image: url('bas.jpg');
	background-repeat: no-repeat;
	background-size: cover ;
	background-position:center; 

}
